<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

    <form method="POST" action="/new">
      <input type="text" name="user" placeholder="User" />
      <textarea name="text" placeholder="Message"></textarea>
      <input type="submit" value="Send" />
    </form>
  </body>

</html>